/* styles.css */
#auto-scroll-toggle-button {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  fill: currentColor; /* SVG ikonunun rengini butonun color özelliğiyle eşler */
}

#auto-scroll-toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Aktif durum için stil (mavi arka plan) */
#auto-scroll-toggle-button.active {
  background-color: rgba(62, 166, 255, 0.8);
}
#auto-scroll-toggle-button.active:hover {
  background-color: rgba(62, 166, 255, 1);
}

#auto-scroll-toggle-button svg {
    width: 24px; /* SVG ikon boyutu */
    height: 24px;
}